body {
  background-color: #222;
  color: white;
  text-align: center;
}

.App-header {
  padding: 50px;
}

h1 {
  font-size: 75px;
}

.loader {
  margin-left: 100px;
  margin-right: 100px;
}

.distance {
  display: inline-block;
  width: 100px;
  color: #d20;
  font-size: 50px;
  vertical-align: middle;
}