.direction {
  height: 100px;
  line-height: 100px;
}

.direction p {
  font-size: 50px;
}

.bearing {
  display: inline-block;
  width: 180px;
  color: #d20;
  font-size: 50px;
  vertical-align: middle;
}

.blocks {
  display: inline-block;
  font-size: 50px;
  width: 100px;
  color: #0096d2;
  vertical-align: middle;
}